@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
#container{
    padding: 5px;
    border: 1px solid black;
    width: 80vw;
    max-width: 1200px;
    text-align: center
}
  
.resumo{
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
}

.card{
    border: 1px solid black;
   
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.cadastro-formulario{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.linha{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}